.relation-name-holder{
  margin: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-left: .5rem;
  padding-right: .5rem;
  display: inline-block;
}

.relation-name{
  width: inherit;
  font-weight: 500;
  font-size: 80%;
}
