.schemas{
  position: relative;
  margin-right: 2rem;
  margin-left: 2rem;
  display: flex;
  text-align: center;
  flex-direction: column;
  height: 26rem;

  position:relative;
  overflow-y: scroll;
  overflow: visible;
}

.body-name-schema{
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
}
