.plan{
  position: relative;
  margin-right: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70%;
  width: 90%;
  position:relative;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: .7rem;
}

.body-name-plan{
  width: 100%;
  padding: 1rem;
  display: flex;
  align-self: center;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  text-transform: uppercase;
}
