<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="600">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p [%t] - %m%n" />
    </Console>
    <RollingFile name="FILE" fileName="log/pdq-server.log"
		 filePattern="log/pdq-server-%d{MM-dd-yyyy}.log.gz"
		 ignoreExceptions="false">
      <PatternLayout>
	<pattern>%d %-5p [%t] (%F:%L) - %m%n</pattern>
      </PatternLayout>
      <TimeBasedTriggeringPolicy />
    </RollingFile>
  </Appenders>
  <Loggers>
    <Logger name="uk.ac.ox.cs.pdq.services.logicblox.cost" level="all" additivity="true">
      <AppenderRef ref="CONSOLE" />
    </Logger>
<!--
    <Logger name="uk.ac.ox.cs.pdq.services" level="info" additivity="false">
      <AppenderRef ref="CONSOLE" />
    </Logger>
    <Logger name="uk.ac.ox.cs.pdq.services.logicblox.rewrite" level="info" additivity="false">
      <AppenderRef ref="CONSOLE" />
    </Logger>
  -->
    <Root level="all">
      <AppenderRef ref="FILE" />
    </Root>
  </Loggers>
</Configuration>
