<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>PDQ Web Application</display-name>
  <description>An web front end for the PDQ planner and runtime.</description>
  <servlet>
    <servlet-name>PDQ Planner</servlet-name>
    <servlet-class>uk.ac.ox.cs.pdq.endpoint.PlannerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PDQ Planning Progress</servlet-name>
    <servlet-class>uk.ac.ox.cs.pdq.endpoint.PlanningProgressServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PDQ Plan Download</servlet-name>
    <servlet-class>uk.ac.ox.cs.pdq.endpoint.PlanDowloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDQ Planner</servlet-name>
    <url-pattern>/plan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PDQ Plan Download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PDQ Planning Progress</servlet-name>
    <url-pattern>/progress</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>HTML Manager interface</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Tomcat Manager Application</realm-name>
  </login-config>
  <security-role>
    <description>The role that is required for general admin tasks</description>
    <role-name>admin</role-name>
  </security-role>
  <error-page>
    <error-code>401</error-code>
    <location>/error/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
  <listener>
    <listener-class>uk.ac.ox.cs.pdq.endpoint.SourceContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>source:yahoo-geoplanet</param-name>
    <param-value>
			discoverer=uk.ac.ox.cs.pdq.builder.io.xml.ServiceReader
   			path=/WEB-INF/services/yahoo-services.xml
	</param-value>
  </context-param>
  <context-param>
    <param-name>source:google</param-name>
    <param-value>
			discoverer=uk.ac.ox.cs.pdq.builder.io.xml.ServiceReader
   			path=/WEB-INF/services/google-services.xml
	</param-value>
  </context-param>
  <context-param>
    <param-name>source:worldbank</param-name>
    <param-value>
			discoverer=uk.ac.ox.cs.pdq.builder.io.xml.ServiceReader
   			path=/WEB-INF/services/worldbank-services.xml
	</param-value>
  </context-param>
  <context-param>
    <param-name>source:geonames</param-name>
    <param-value>
			discoverer=uk.ac.ox.cs.pdq.builder.io.xml.ServiceReader
   			path=/WEB-INF/services/geonames-services.xml
	</param-value>
  </context-param>
</web-app>