<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="600">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5p [%t] (%F:%L) - %m%n" />
        </Console>
		<RollingFile name="FILE" fileName="log/pdq.log"
			filePattern="log/pdq-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
			<PatternLayout>
				<pattern>%d %-5p [%t] (%F:%L) - %m%n</pattern>
			</PatternLayout>
 			<TimeBasedTriggeringPolicy />
 		</RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="uk.ac.ox.cs.pdq" level="warn">
            <AppenderRef ref="CONSOLE" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>
</Configuration>
